{% extends "users/layoutadmin.html" %}

{% block content %}
<center>
    <div class="container">
        <h1>Reporte de Ganancias de los ultimos 7 dias</h1>
        <br>
        <canvas id="grafica" width="500" height="300" style="max-width: 800px; max-height: 300px;"></canvas>
        
    </div>
</center>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('grafica').getContext('2d');
    var fecha_labels = {{ fecha_labels | tojson | safe }};
    var total_abonos = {{ total_abonos | tojson | safe }};
    
    if (fecha_labels && total_abonos) {
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: fecha_labels,
                datasets: [{
                    label: 'Ganancias Diarias',
                    backgroundColor: 'rgba(168, 0, 110, 0.3)',
                    borderColor: 'rgba(168, 0, 110, 1)',
                    borderWidth: 1,
                    data: total_abonos
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });
    }
});
</script>
{% endblock %}
