{% extends 'users/ventas/layoutventas.html' %}

{% block content %}
  <div class="venta-form">
    <h2>Generar Venta</h2>
    <form method="post" action="{{ url_for('ventas_views.generar_venta') }}">
      <div class="input-group">
        <label for="nombre">Nombre del Cliente:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>

      <div class="input-group">
        <label for="apellido">Apellido del Cliente:</label>
        <input type="text" id="apellido" name="apellido" required>
      </div>

      <div class="input-group">
        <label for="abono">Abono:</label>
        <input type="number" id="abono" name="abono" required>
      </div>

      <div class="product-list">
        <h3>Productos Comprados:</h3>
        {% for producto in productos %}
          <label class="product">
            <input type="checkbox" name="productos" value="{{ producto[0] }}">
            <div class="product-info">
              <img src="{{ url_for('static', filename=producto[9][7:].replace('\\', '/')) }}" alt="{{ producto[1] }}">
              <span>{{ producto[1] }}</span>
            </div>
          </label>
        {% endfor %}
      </div>

      <button type="submit">Generar Venta</button>
    </form>
  </div>
{% endblock %}
