{% extends "users/usuarios/layoutusers.html" %}
{% block content %}
<center>
    <br><br>
    <a class="bubbly-button" href="/registro/">AGREGAR NUEVO USUARIO +</a>
    <main class="table">
        <section class="table__header">
            <h1>USUARIOS</h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Nombre de Usuario </th>
                        <th> Nombre </th>
                        <th> Apellido Paterno</th>
                        <th> Apellido Materno</th>
                        <th> Tipo de Usuario </th>
                        <th> Dirección </th>
                        <th> Telefono </th>
                        <th> Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.nombre_de_usuario }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.apellido_paterno }}</td>
                        <td>{{ user.apellido_materno }}</td>
                        <td>{{ user.tipo_usuario }}</td>
                        <td>{{ user.direccion }}</td>
                        <td>{{ user.telefono }}</td>
                        <td>
                            <button><a href="{{ url_for('user.user_update', id=user.id) }}">Actualizar</a></button><br> <br>
                            <button class="deleteButton" data-action="{{ url_for('user.eliminar_usuario', user_id=user.id) }}">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</center>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h3>¿Estás seguro que deseas eliminar este usuario?</h3>
        <div class="modal-buttons">
            <button class="modal-button" id="cancelButton">Cancelar</button>
            <form action="" method="post" id="deleteForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" class="modal-button modal-button-danger" value="Eliminar">
            </form>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // JavaScript para el diálogo modal
        var modal = document.getElementById('deleteModal');
        var cancelButton = document.getElementById('cancelButton');
        var deleteForm = document.getElementById('deleteForm');

        var deleteButtons = document.querySelectorAll('.deleteButton');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                modal.style.display = 'block';
                deleteForm.action = button.getAttribute('data-action');
            });
        });

        cancelButton.addEventListener('click', function () {
            modal.style.display = 'none';
        });
    });
</script>
{% endblock %}
