{% extends "users/vestidos/layoutvestidos.html" %}

{% block content %}
<main>
    <center>
        <div class="container">
            <div class="title">Actualizar Vestido</div>
            <div class="content">
                <form method="post" enctype="multipart/form-data">
                    <div class="user-details">
                        <div class="input-box">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div id="preview">
                                <img id="imgPreview" src="{{ url_for('static', filename=vestido[9][7:].replace('\\', '/')) }}"
                                    alt="Imagen actual del vestido">
                            </div>
                        </div>
                        <div class="input-box">
                            <a class="bubbly-button" href="#" id="seleccionarImagen">Seleccionar Imagen</a>
                            <input type="file" name="img_vestido" id="img_vestido" accept="image/*"
                                style="display: none;">
                        </div>
                        <div class="input-box">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" value="{{ vestido[1] }}" required>
                        </div>

                        <div class="input-box">
                            <label for="talla">Talla:</label>
                            <select id="talla" name="talla" class="select" required>
                                <option value="CH" {% if vestido[2] == 'CH' %}selected{% endif %}>CH</option>
                                <option value="M" {% if vestido[2] == 'M' %}selected{% endif %}>M</option>
                                <option value="G" {% if vestido[2] == 'G' %}selected{% endif %}>G</option>
                                <option value="EXG" {% if vestido[2] == 'EXG' %}selected{% endif %}>EXG</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <label for="color">Color:</label>
                            <input type="text" id="color" name="color" value="{{ vestido[3] }}" required>
                        </div>

                        <div class="input-box">
                            <label for="categoria">Categoría:</label>
                            <select id="categoria" name="categoria" class="select" required>
                                <option value="Noche" {% if vestido[4] == 'Noche' %}selected{% endif %}>NOCHE</option>
                                <option value="Gala" {% if vestido[4] == 'Gala' %}selected{% endif %}>GALA</option>
                                <option value="Formal" {% if vestido[4] == 'Formal' %}selected{% endif %}>FORMAL</option>
                                <option value="Casual" {% if vestido[4] == 'Casual' %}selected{% endif %}>CASUAL</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <label for="descripcion">Descripción:</label>
                            <textarea id="descripcion" name="descripcion" required>{{ vestido[5] }}</textarea>
                        </div>

                        <div class="input-box">
                            <label for="precio">Precio:</label>
                            <div class="input-with-icon">
                                <span class="icon">$</span>
                                <input type="number" id="precio" name="precio" value="{{ vestido[6] }}" required>
                            </div>
                        
                        </div>
                        <div class="button">
                            <input type="submit" value="Actualizar Vestido">
                        </div>
                </form>
    </center>
</main>
<script>
document.getElementById("seleccionarImagen").addEventListener("click", function () {
        document.getElementById("img_vestido").click();
    });

    document.getElementById("img_vestido").addEventListener("change", function () {
        var fileInput = this;
        var imgPreview = document.getElementById("imgPreview");
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgPreview.src = e.target.result;
            };
            reader.readAsDataURL(fileInput.files[0]);
        }
    });
</script>
{% endblock %}