<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vestidos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro_vestidos.css') }}">
    <title>LULA</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="/Home_Admin" class="brand"><img src="{{ url_for('static', filename='img/logo.jpg') }}" class="logo" alt="">LULA</a>
            <span id="menu-icon"><i class="fas fa-bars"></i></span>
            <ul>
                <li><a href="/vestidos/">VESTIDOS</a></li>
                <li><a href="">REPORTES</a></li>
                <li><a href="/usuarios/">USUARIOS</a></li>
                <li><a href="">VENTA</a></li>
                <li>
                    <form action="{{ url_for('logout') }}" method="post" id="logout-form">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="token" value="{{ token }}">
                        <a href="javascript:void(0);" onclick="document.getElementById('logout-form').submit();">CERRAR
                            SESIÓN</a>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="">
        {% block content %}{% endblock %}
    </div>
    <script>
        window.onload = function () {
            if (typeof window.history.pushState === 'function') {
                window.history.pushState({}, 'Login', '#login');
                window.onpopstate = function () {
                    window.history.pushState({}, 'Login', '#login');
                };
            }
        };
    </script>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>

</html>