{% extends "users/layoutadmin.html" %}
{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vestidos.css') }}">
{% endblock %}


{% block content %}
<center>
    <a class="bubbly-button" href="/registro_vestido/">Agregar Nuevo Vestido +</a>
</center>
<main>
    {% for vestido in vestidos %}
    {% if vestido[7] == "Disponible" %}
    {% if loop.index % 2 == 1 %}
    <div class="vestido-row">
        {% endif %}
        <div class="vestido-container">
            <div class="vestido-image">
                <img src="{{ url_for('static', filename=vestido[9][7:]) }}" alt="Imagen del vestido">
            </div>
            <div class="vestido-info">
                <h2>
                    <p>{{ vestido[1] }}</p>
                </h2>
                <h3>Talla:<h5>
                        <p> {{ vestido[2] }}</p>
                    </h5>
                </h3>
                <h3>Color:<h5>
                        <p> {{ vestido[3] }}</p>
                    </h5>
                </h3>
                <h3>Categoria:<h5>
                        <p> {{ vestido[4] }}</p>
                    </h5>
                </h3>
                <h3>Descripción:<h5>
                        <p> {{ vestido[5] }}</p>
                    </h5>
                </h3>
                <h3>Precio:<h5>
                        <p> $ {{ vestido[6] }}</p>
                    </h5>
                </h3>
                <div class="button-container">
                    <form action="{{ url_for('vestidos_views.actualizar_vestido', id=vestido[0]) }}" method="get">
                        <button type="submit" class="actualizar"
                            formaction="{{ url_for('vestidos_views.actualizar_vestido', id=vestido[0]) }}">Actualizar</button>
                    </form>
                    <button class="delete-button"
                        data-action="{{ url_for('vestidos_views.borrar_vestido', id=vestido[0]) }}">Borrar</button>
                </div>
            </div>
        </div>
        {% if loop.index % 2 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if vestidos|length == 0 %}
    <p>No hay vestidos disponibles.</p>
    {% endif %}
    <div class="pagination">
        <a href="{{ url_for('vestidos_views.ver_vestidos', page=page-1) }}"
            class="pagination-arrow {% if page == 1 %}disabled{% endif %}"><i class="fas fa-arrow-left"></i></a>

        {% for p in range(1, total_pages + 1) %}
        <a href="{{ url_for('vestidos_views.ver_vestidos', page=p) }}"
            class="pagination-number {% if p == page %}active{% endif %}">{{ p }}</a>
        {% endfor %}

        <a href="{{ url_for('vestidos_views.ver_vestidos', page=page+1) }}"
            class="pagination-arrow {% if page == total_pages %}disabled{% endif %}"><i
                class="fas fa-arrow-right"></i></a>
    </div>
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h3>¿Estás seguro de que deseas borrar este vestido?</h3>
            <div class="modal-buttons">
                <button class="modal-button" id="confirmButton">Borrar</button>
                <button class="modal-button modal-button-cancel" id="cancelButton">Cancelar</button>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('deleteModal');
        var confirmButton = document.getElementById('confirmButton');
        var cancelButton = document.getElementById('cancelButton');

        var deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                modal.style.display = 'block';
                confirmButton.setAttribute('data-action', button.getAttribute('data-action'));
            });
        });

        confirmButton.addEventListener('click', function () {
            var actionUrl = confirmButton.getAttribute('data-action');
            if (actionUrl) {
                window.location.href = actionUrl;
            }
            modal.style.display = 'none';
        });

        cancelButton.addEventListener('click', function () {
            modal.style.display = 'none';
        });
    });
</script>
{% endblock %}